* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* width */
*::-webkit-scrollbar {
	width: var(--space);
	height: var(--space);
	* {
		cursor: pointer;
	}
}

/* Track */
*::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.02);
}

/* Handle */
*::-webkit-scrollbar-thumb {
	background: var(--color-light-gray);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
	background: var(--primary-color);
}

body {
	// padding: var(--space);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;

	font-size: 0.8rem;
	color: var(--text-color);
	background-color: var(--bg-color);
}
:root {
	--space: 1rem;
	--sidebar-width: 120px;
	--header-height: 180px;
	--sprint-height: 30px;
	--border-radius: 6px;

	--letter-spacing: -0.05em;

	--color-yellow: #ffde44;
	--color-teal: #7ed4d4;
	--color-purple: #947ed4;
	--color-green: #74dc91;
	--color-pink: #f7becf;
	--color-cyan: #44d2ff;
	--color-blue: #8bafda;
	--color-red: #E57373;
	--color-orange: #e5aa73;
	--color-gray: hsl(240, 2%, 65%);
	--color-light-gray: hsl(0, 0%, 90%);
	--color-white: hsl(0, 0%, 99%);
	--color-black: hsl(0, 0%, 20%);

	--primary-color: var(--color-teal);
	--text-color: var(--color-black);
	--bg-color: var(--color-white);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--space);
	h1 {
		font-size: 6rem;
		font-weight: 800;
		letter-spacing: var(--letter-spacing);
	}
	@media only screen and (max-width: 800px) {
		flex-direction: column;
		h1 {
			font-size: 4rem;
			font-weight: 800;
			letter-spacing: var(--letter-spacing);
		}
	}
}

#modal {
	min-width: 700px;
	width: 50%;;
	height: fit-content;
	margin: auto;
	position: absolute;
	top: 54px;
	right: 32px;
	background-color: white;
	z-index: 49;
	padding: var(--space);
	border-radius: var(--border-radius);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	& > button {
		position: absolute;
		right: calc(var(--space) * -1);
		top: calc(var(--space) * -1);
	}
}
#app-container {
	// border:'2px solid red',
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 100vw;
	overflow-x: hidden;
}
.card {
	padding :var(--space);
	margin :var(--space);
	height: fit-content;
	border-radius: var(--border-radius);
	border: 1px solid var(--color-light-gray);
}

#project-list {
	display: flex;
	flex-direction: column;
	padding-left: var(--space);
	padding-right: var(--space);
	padding-top: 100px;

	position: absolute;
	top: 0;
	left: 50px;
	border-left: 1px solid rgba(0,0,0,0.03);
	width: var(--sidebar-width);
	// mix-blend-mode: overlay;
	background-color: rgba(255, 255, 255, 0.6);
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	z-index: 29;
	height: 100%;
	box-shadow: 15px 0px 20px -25px rgba(0, 0, 0, 0.06);
	&:after {
		content: " ";
		background-color: rgba(255, 255, 255, 0.8);
		width: 100%;
		z-index: -1;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
	}
	div {
		height: calc(var(--sprint-height) * 2);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: stretch;
		h4 {
			user-select: none;
			// pointer-events: none;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 1rem;
			font-weight: 700;
			padding-bottom: 7px;
			// word-wrap: normal;
			// height: 1.5rem;
			line-height: 1;
			letter-spacing: var(--letter-spacing);
		}
	}
}
#project-view {
	position: relative;
	min-height: 100%;
}

#project-wrap {
	display: flex;
	align-items: flex-start;
	position: relative;
	min-height: var(--sprint-height) ;
	margin-bottom: calc(var(--sprint-height) );
	
	figure {
		width: 100%;
		min-height: 100%;
		position: absolute;
		top: 0;
		left: calc(var(--space) * -1);
		opacity: 0.2;
	}
}
#project-scroll {
	position: relative;
	overflow-x: overlay;
	overflow-y: hidden;
	scroll-behavior: smooth;
	scroll-snap-align: start;
	min-height: 100%;
	user-select: none;
	padding-top: 100px;
	// pointer-events: none;
}

#grid-today {
	--today-distance : 100px;
	height: calc(100% + var(--today-distance));
	border-radius: var(--border-radius);
	width: 2px;
	background-color: var(--color-black);
	position: absolute;
	opacity: 0.9;
	top: -var(--today-distance);
	user-select: none;
	pointer-events: none;
	bottom: 0;
	left: inherit;
	z-index: 39;
	&:after {
		content: ' TODAY ';
		color: var(--color-black);
		font-weight: 800;
		letter-spacing: var(--letter-spacing);
		text-transform: lowercase;
		font-size: 0.8rem;
		padding-left: 7px ;
	}
}
#project-grid-year {
	--days-distance : 70px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: grid;
	// user-select: none;
	scroll-snap-align: start;

	figure {
		scroll-snap-align: start;
		width: 2px;
		background-color: rgba(0, 0, 0, 0.02);
		&.month-start {
			&:after {
				content: attr(data-month);
				position: absolute;
				// background-color: red;
				top: calc( var(--days-distance) * -1 ) ;
				// margin-left: -2px;
				color: var(--color-gray);
				font-size: 0.6rem;
				padding-left: 7px ;
				height: 10px;
				width: 10px;
			}
			
			// position: absolute;
			margin-top: calc( var(--days-distance) * -1 ) ;
			background-color: rgba(0, 0, 0, 0.1);
			height: calc(100% + var(--days-distance));
		}
		&::before {
			content: attr(data-day);
			position: absolute;
			top: calc(var(--space) * -2.7);
			margin-left: -2px;
			color: var(--color-gray);
			font-size: 0.4rem;
		}
	}
}

.project-sprints {
	display: grid;
	width: 100%;
	align-items: center;
	grid-auto-flow: column;
	// user-select: none;
}

.project-sprint {
	// mix-blend-mode: multiply;
	min-height: var(--sprint-height);
	border-radius: var(--border-radius);
	transition: height .2s ;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	&.project-type-rc { 
		strong {
			margin-left: 10px;
			text-overflow: ellipsis;
			width: auto;
			overflow: hidden;
			pointer-events: none;
		}
	}
	&:hover {
		opacity: 0.8;
		cursor: grab;
	}
	&:active , &:focus{
		cursor: grabbing;
		opacity: 0.7!important;
	}

	.sprint-tail {
		position: absolute;
		right: 0;
		top:0;
		bottom:0;

		width: calc(var(--space) / 2);
		// border:1px solid red;
		border-radius: 0 var(--border-radius) var(--border-radius) 0; 

		background: transparent;
		&:hover {
			background-color: rgba(0, 0, 0, 0.2);
			cursor: e-resize;
		}
	}
	.project-sprint-header {
		display: flex;
		font-weight: 700;
		font-size: 0.8rem;
		align-items: center;
		position: absolute;
		top: -15px;
		color: var(--text-color);
		width: 100%;
		line-height: 1;
		text-overflow: ellipsis;
		overflow: hidden;
		letter-spacing: var(--letter-spacing);
		i { margin-right: 5px; }
		
		span {
			background-color: var(--color-light-gray);
			padding: 0px 5px;
			display: flex;
			cursor: pointer;
			align-items: center;
			border-radius: 3px;
			margin-left: auto;
		}
		
	}
	
	progress {
		-webkit-appearance: none;
		appearance: none;
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		right: 0;
		margin: 0;
		padding: 0;
		height: 6px;
		cursor: ew-resize;
		border-bottom-right-radius: var(--border-radius);

		&:hover{
			background-color: rgba(0,0,0,.1);
		}
	}
	progress::-webkit-progress-bar { background-color: rgba(0,0,0,.05); }
	.progress-color-yellow::-webkit-progress-value { background-color: var(--color-yellow); }
	.progress-color-teal::-webkit-progress-value { background-color: var(--color-teal); }
	.progress-color-red::-webkit-progress-value { background-color: var(--color-red); }
	.progress-color-pink::-webkit-progress-value { background-color: var(--color-pink); }
	.progress-color-cyan::-webkit-progress-value { background-color: var(--color-cyan); }
	.progress-color-blue::-webkit-progress-value { background-color: var(--color-blue); }
	.progress-color-purple::-webkit-progress-value { background-color: var(--color-purple); }
	progress::-webkit-progress-value {
		mix-blend-mode: multiply;
		border-bottom-left-radius: var(--border-radius);
	}
	
}
.project-sprint-details {
	padding: var(--space);
	font-size: .7rem;
	font-weight: 600;
	overflow: hidden;
	ul li {
		margin: 0; padding : 0; list-style-type: none;
	}
}
// forms
.form {
	width: 100%;
	display: flex;
	align-items: stretch;
	// flex-direction: column;
}
input,
select,
textarea {
	padding: calc(var(--space) / 2) var(--space);
	border-radius: var(--border-radius);
	border: 1px solid var(--color-light-gray);
}

button {
	padding: calc(var(--space) / 2) var(--space);
	border-radius: var(--border-radius);
	background-color: var(--color-white);
	border: 1px solid var(--color-light-gray);
	&.primary {
		background-color: var(--color-black);
		color: var(--color-white);
		font-weight: 600;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		flex-shrink: 0;
		padding: 0;
	}
}
input,
button,
select {
	font-weight: 500;
	margin: calc(var(--space) / 2);
	&:focus,
	&:active {
		outline-offset: calc(var(--space) / 6);
		outline-color: var(--primary-color);
		outline-style: dashed;
		outline-width: var(--border-width);
	}
	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}
