* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	padding: var(--space);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 0.8rem;
	color : var(--text-color);
	background-color : var(--bg-color);
}
:root {
	--space: 1rem;
	--sidebar-width: 100px;
	--sprint-height: 30px;
	--border-radius: 7px;
	
	--letter-spacing: -0.05em;

	--color-yellow : #FFDE44;
	--color-teal : #7ED4D4;
	--color-purple : #947ED4;
	--color-green : #74DC91;
	--color-pink : #F7BECF;
	--color-cyan : #44D2FF;
	--color-blue : #8BAFDA;
	--color-red : #E57373;
	--color-orange : #E5AA73;
	--color-light-gray : hsl(0,0%,90%);
	--color-white : hsl(0,0%,99%);
	--color-black : hsl(0,0%,20%);

	--text-color : var(--color-black);
	--bg-color : var(--color-white);
	
}

#projects-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: calc(var(--space) * 1.6);
	-moz-row-gap: calc(var(--space) * 1.6);
	-webkit-row-gap: calc(var(--space) * 1.6);
	padding-top: calc(var(--space) * 1.6) ;
	user-select: none;
	position: relative;

}

.project-sprints {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(31, 1fr);
	align-items: center;
	grid-auto-flow: column;
	//  border:1px solid red; 
	 user-select: none;
}

input {
	padding : calc(var(--space) / 2 ) var(--space);
	border-radius: var(--border-radius);
	border: 1px solid var(--color-light-gray);
}

button {
	padding : calc(var(--space) / 2 ) var(--space);
	border-radius: var(--border-radius);
	background-color: var(--color-white);
	border: none;
	
}
input , button, select { 
	font-weight: 500;
	margin: calc(var(--space) / 2 );
	&:focus {
		outline-offset: calc(var(--space)/6);
		outline-color: var(--gray);
		outline-style: dashed;
		outline-width: var(--border-width);
	  }
	&:hover{
		opacity: .8;
		cursor: pointer;
	}
}